@import '../../Theme/colorDefinitions.scss';
@import '../../Theme/breakpoints.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');
$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.reg-form-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  background: linear-gradient(#2c0791 1%, $PRIMARY_DARK 100%);

  .genre-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;

    .genre-chips {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      margin-top: 5%;

      @include md {
        margin-top: 3%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      @include lg {
        margin-top: 2%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
      @include xl {
        margin-top: 1%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .genre-chip {
      margin-bottom: 0.5em;
      font-family: $montserrat;
      @include lg {
        font-size: 1rem;
      }
      @include xl {
        font-size: 1.2rem;
      }
    }
  }

  .book-picker-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20%;
    height: 85vh;

    .books-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow-y: scroll;
      margin-left: 1rem;
      margin-right: 1rem;

      img {
        border-radius: 7px;
        height: 7rem;
        @include md {
          height: 7rem;
        }
        @include lg {
          height: 7rem;
        }
        @include xl {
          height: 7rem;
        }
      }

      .book-opaque {
        filter: brightness(25%);
      }
    }
    .pop-book-button {
      align-self: center;
      background: transparent;
      border: none;
      padding: 2%;
    }
  }

  h1 {
    width: 90vw;
    align-self: center;
    text-align: center;
    font-family: $comfortaa;
    margin-bottom: 3%;
    color: $PRIMARY_WHITE;
    font-size: 1.8rem;
    @include lg {
      font-size: 2.2rem;
    }
    @include xl {
      font-size: 2.4rem;
    }
  }
  .submit {
    color: $PRIMARY_DARK;
    align-self: center;
    margin-top: 1.5rem;
    font-family: $montserrat;
    background-color: $PRIMARY_WHITE;
    @include lg {
      font-size: 0.8rem;
    }
    @include xl {
      font-size: 1.3rem;
      margin-top: 1.9rem;
    }
  }
}
