@import '../../Theme/colorDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.reg-form-page {
  height: 100vh;
  width: 100vw;
  display: 'flex';
  justify-content: 'center';
  flex-wrap: 'wrap';
  justify-content: flex-start;
  padding-top: 6%;
  padding-left: 10%;
  background: linear-gradient(#2c0791 1%, $PRIMARY_DARK 100%);

  header {
    width: 90vw;
  }
}
