@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap");
.reg-form-page {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2c0791), to(#140245));
  background: linear-gradient(#2c0791 1%, #140245 100%);
}

.reg-form-page .genre-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.reg-form-page .genre-form-wrapper .genre-chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5%;
}

.reg-form-page .genre-form-wrapper .genre-chip {
  margin-bottom: 0.5em;
  font-family: "Montserrat", sans-serif;
}

.reg-form-page .book-picker-wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20%;
  height: 85vh;
}

.reg-form-page .book-picker-wrapper .books-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-y: scroll;
  margin-left: 1rem;
  margin-right: 1rem;
}

.reg-form-page .book-picker-wrapper .books-wrapper img {
  border-radius: 7px;
  height: 7rem;
}

.reg-form-page .book-picker-wrapper .books-wrapper .book-opaque {
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}

.reg-form-page .book-picker-wrapper .pop-book-button {
  background: transparent;
  border: none;
  padding: 2%;
}

.reg-form-page h1 {
  width: 90vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: "Comfortaa", cursive;
  margin-bottom: 5%;
  color: #dfd5fc;
  font-size: 1.8rem;
}

.reg-form-page .submit {
  color: #140245;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: #dfd5fc;
}
/*# sourceMappingURL=RegistrationForm.css.map */