@import '../../Theme/colorDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.dashboard {
  height: 100vh;
  width: 100vw;
  padding-top: 6%;
  padding-left: 10%;
  padding-bottom: 5%;
  background: linear-gradient(#2c0791 1%, $PRIMARY_DARK 100%);

  header {
    width: 90vw;
    display: flex;
    justify-content: space-between;

    .search-placeholder {
      height: 2.1rem;
      background-color: $PRIMARY_LIGHT;
      width: 78vw;
      border-radius: 7px;
    }
  }

  .title {
    color: $WHITE;
    font-family: $montserrat;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }

  .bookwrapper {
    max-height: 30vh;

    .booklist {
      border-color: $WHITE;
      border-width: 1px;
      height: 70%;
      width: 90vw;
      display: flex;
      overflow-x: scroll;

      .book-preview {
        margin-right: 1rem;
        img {
          max-height: 20vh;
          border-radius: 5px;
          box-shadow: 0 0 20px -1px rgb(7, 6, 22);
        }
      }
    }
  }

  .bookwrapper-small {
    height: 20vh;
    margin-bottom: 2rem;

    .booklist-small {
      // border: solid;
      border-color: $WHITE;
      border-width: 1px;
      height: 80%;
      width: 90vw;
      display: flex;
      overflow-x: scroll;

      .book-preview-small {
        margin-right: 1.5rem;
        img {
          max-height: 15vh;
          border-radius: 5px;
          box-shadow: 0 0 20px -1px rgb(7, 6, 22);
        }
      }
    }
  }
}
