@import '../../Theme/colorDefinitions.scss';
@import '../../Theme/breakpoints.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.dashboard {
  height: 100vh;
  width: 100vw;
  padding-bottom: 5%;
  background: linear-gradient(#2c0791 1%, $PRIMARY_DARK 100%);

  @include md {
    padding-top: 2%;
  }

  @include lg {
    padding-top: 0;
  }

  .book-body {
    padding-left: 5%;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;

    .title {
      color: $WHITE;
      font-family: $montserrat;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0.7rem;

      @include sm_height {
        font-size: 1.2rem;
      }

      @include md {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      @include lg {
        font-size: 2.3rem;
        font-weight: bolder;
        margin: 0;
      }
    }
  }

  .bookwrapper {
    max-height: 30vh;
    @include md {
      margin-top: 2rem;
    }

    @include lg {
      margin-bottom: 7rem;
      margin-top: 0;
    }

    @include xxl {
      margin-bottom: 7rem;
      margin-top: 3rem;
    }
    .booklist {
      border-color: $WHITE;
      border-width: 1px;
      height: 70%;
      width: 90vw;
      display: flex;
      overflow-x: scroll;
      margin-bottom: 1.8rem;

      @include lg {
        margin-top: 2rem;
      }

      @include sm_height {
        margin-bottom: 0rem;
      }

      .book-preview {
        margin-right: 1rem;
        @include lg {
          margin-right: 3rem;
          transition-duration: 0.4s;

          &:hover {
            transform: scale(0.9);
          }
        }

        img {
          max-height: 20vh;
          border-radius: 5px;
          box-shadow: 0 0 20px -1px rgb(7, 6, 22);

          @include sm_height {
            max-height: 18vh;
          }

          @include lg {
            min-height: 26vh;
          }
        }
      }
    }
  }

  .bookwrapper-small {
    height: 20vh;
    margin-bottom: 2rem;

    @include sm_height {
      margin-bottom: 1.8rem;
    }

    .booklist-small {
      // border: solid;
      border-color: $WHITE;
      border-width: 1px;
      height: 80%;
      width: 90vw;
      display: flex;
      overflow-x: scroll;

      .book-preview-small {
        margin-right: 1.5rem;
        img {
          max-height: 15vh;
          border-radius: 5px;
          box-shadow: 0 0 20px -1px rgb(7, 6, 22);
        }
      }
    }
  }
}
