@import '../../Theme/colorDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');
$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.profile-screen {
  color: white;
  min-height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $PRIMARY_DARK;
  .user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
  .logout-button {
    flex: 1;
    align-self: flex-end;
  }
  .profile-picture {
    align-self: center;
    height: 20vh;
    width: 40vw;
    margin-top: 1em;
  }
  h1 {
    margin: 0;
  }
  .email {
    margin: 0;
    padding-top: 0.5em;
  }
  .fav-genres-header {
    margin: 0;
    margin-top: 0.3em;
    align-self: flex-start;
  }
  .fav-genres {
    font-size: 0.7rem;
  }
}
