@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap");
.details {
  height: 100vh;
  width: 100vw;
  background-color: #140245;
  padding-bottom: 10rem;
  overflow: scroll;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c0791), to(#140245));
  background: linear-gradient(#2c0791, #140245);
}

.details .italic {
  font-style: italic;
}

.details .bold {
  font-weight: bold;
}

.details .main-details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

@media (min-width: 992px) {
  .details .main-details {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10rem;
    margin-right: 10rem;
  }
}

.details .main-details .line {
  position: absolute;
  width: 93%;
  bottom: 1rem;
  border: none;
  height: 0.6px;
  background-color: #dfd5fc;
}

@media (min-width: 992px) {
  .details .main-details .line {
    width: 82%;
  }
}

.details .main-details img {
  height: 13rem;
  z-index: 1;
  -webkit-box-shadow: 0 0 12px -1px #070616;
          box-shadow: 0 0 12px -1px #070616;
}

@media (min-width: 992px) {
  .details .main-details img {
    height: 16rem;
    margin-left: 5rem;
  }
}

.details .main-details .text-wrapper {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.details .main-details .text-wrapper .title {
  color: #fffef9;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .details .main-details .text-wrapper .title {
    font-size: 2rem;
  }
}

.details .main-details .text-wrapper .small-title {
  color: #fffef9;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .details .main-details .text-wrapper .small-title {
    font-size: 1.6rem;
  }
}

.details .main-details .text-wrapper .subtitle {
  color: #dfd5fc;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 0.5em;
}

@media (min-width: 992px) {
  .details .main-details .text-wrapper .subtitle {
    font-size: 1rem;
  }
}

.details .sub-details {
  width: 88vw;
  margin: auto;
}

@media (min-width: 992px) {
  .details .sub-details {
    margin-top: 4rem;
    width: 75vw;
  }
}

.details .sub-details .flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.2rem;
}

.details .sub-details .subtitle {
  color: #c8baf3;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 3em;
  line-height: 1.5rem;
}

@media (min-width: 992px) {
  .details .sub-details .subtitle {
    font-size: 1rem;
  }
}

.details .sub-details .title {
  color: #fffef9;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 1em;
}

.details .sub-details .add-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90vw;
}

@media (min-width: 992px) {
  .details .sub-details .add-info {
    margin-top: 4rem;
    width: 75vw;
  }
}

.details .sub-details .add-info .publisher-wrapper {
  max-width: 50vw;
  padding-right: 2rem;
}

.details .sub-details .add-info .midtitle {
  color: #fffef9;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-bottom: 1em;
}

.details .footer {
  height: 5rem;
}
/*# sourceMappingURL=BookDetailsScreen.css.map */