@import '../../Theme/colorDefinitions.scss';
@import '../../Theme/breakpoints.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.book-item {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: 4rem;

  @include md {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: 2rem;
  }
  @include lg {
    width: 35vw;
    margin-right: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  @include xl {
    width: 28vw;
  }

  .italic {
    font-style: italic;
  }

  img {
    height: 9rem;
    // border-radius: 5px;
    box-shadow: 0 0 12px -1px rgb(7, 6, 22);
    margin-right: 1rem;
    transition-duration: 0.4s;

    @include sm_height {
      height: 8em;
    }
    @include lg {
      height: 12em;
    }
    @include xl {
      &:hover {
        transform: scale(0.9);
      }
    }
    @include xxl {
      height: 14em;
    }
  }

  h2,
  p {
    color: $WHITE;
    font-size: 1rem;
    margin-top: 0;
  }
  .book-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;

    @include md {
      width: 20vw;
    }

    @include lg {
      width: 45%;
    }

    .midtitle {
      font-family: $montserrat;
      @include sm_height {
        font-size: 0.9rem;
      }

      @include lg {
        font-size: 1.2rem;
      }
    }

    .subtitle {
      font-family: $montserrat;
      font-size: 0.7rem;

      @include lg {
        font-size: 1rem;
      }
    }
  }
}
