.small-status {
  position: relative;
  padding-top: 0;
  width: 25vw;
  height: 5vh;
  margin-left: 0.5em;
  margin-top: 1rem;

  .rating-wrapper {
    position: absolute;
    left: 0;
  }
  .bookmark-wrapper {
    position: absolute;
    right: 0;
  }
}
