.small-status {
  // margin-top: au/to;
  position: relative;
  padding-top: 0;
  width: 50%;
  margin-left: 0.5em;

  .rating-wrapper {
    position: absolute;
    left: 0;
  }
  .bookmark-wrapper {
    position: absolute;
    right: 0;
  }
}
