@import '../../Theme/breakpoints.scss';

.small-status {
  position: relative;
  padding-top: 0;
  width: 25vw;
  height: 5vh;
  margin-left: 0.5em;
  margin-top: 1rem;

  @include md {
    width: 14vw;
    // margin-top: auto;
  }

  @include lg {
    width: 10vw;
    margin-top: auto;
  }

  @include xxl {
    width: 8vw;
    margin-top: auto;
  }

  .rating-wrapper {
    position: absolute;
    left: 0;
  }
  .bookmark-wrapper {
    position: absolute;
    right: 0;
  }
}
