@import '../../Theme/colorDefinitions.scss';
@import '../../Theme/breakpoints.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.saved-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#2c0791 1%, $PRIMARY_DARK 100%);

  @include md {
    // padding-left: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include lgplus {
    align-items: flex-start;
    padding-left: 4vw;
  }

  .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: $PRIMARY_WHITE;
    border-width: 0;
    border-bottom-width: 2px;
    width: 80%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    @include lg {
      width: 87%;
      justify-content: center;
      border-bottom-width: 1px;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    @include xl {
      justify-content: flex-start;
      border-bottom-width: 1px;
      margin-left: 2rem;
      margin-right: 2rem;
      padding-bottom: 1rem;
    }
    @include xxl {
      margin-left: 2rem;
      margin-right: 2rem;
      justify-content: flex-start;
      border-bottom-width: 1px;
      margin-left: 0;
    }

    .title {
      color: $WHITE;
      font-family: $montserrat;
      text-align: center;

      @include mdlg {
        font-size: 2rem;
        padding-right: 1rem;
      }
      @include xl {
        margin: 0;
        margin-left: 1rem;
        font-size: 3rem;
      }
      @include xxl {
        margin-bottom: 1rem;
        font-size: 3rem;
      }
    }
  }

  .saved-list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;

    @include lgplus {
      align-items: center;
      display: flex;
      padding-left: 0;
      flex-wrap: wrap;
      width: 90vw;
    }
  }
  .book-skeleton {
    width: 70vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin-top: 5vh;
    border-width: 1.5px;
    border-radius: 25px;
    border-color: #c8baf3;
    padding: 1rem;

    @include md {
      width: 350px;
    }

    @include xl {
      align-self: flex-start;
      margin-left: 4vw;
    }

    .alert-msg {
      text-align: center;
      font-family: $montserrat;
      color: $PRIMARY_WHITE;

      @include md {
        font-size: 1.2em;
      }
      @include lg {
        font-size: 1.3em;
      }
    }
  }
}
