@import '../../Theme/colorDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.saved-screen {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(125deg, #2c0791 5%, $PRIMARY_DARK 100%);

  .title {
    color: $WHITE;
    font-family: $montserrat;
    padding-left: 1.5rem;
  }
  .saved-list {
    height: 80vh;
    overflow: scroll;
    padding: 1.5rem;
  }

  .footer {
    height: 10rem;
  }
}
