@import '../../Theme/colorDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.saved-screen {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#2c0791 1%, $PRIMARY_DARK 100%);

  .title-wrapper {
    display: flex;
    align-items: center;
    border: solid;
    border-color: $PRIMARY_WHITE;
    border-width: 0;
    border-bottom-width: 2px;
    width: 80%;
    margin-top: 2rem;
    margin-left: 1.5rem;
    z-index: 1;

    .title {
      color: $WHITE;
      font-family: $montserrat;
      margin-right: 0.5rem;
    }
  }
  .saved-list {
    height: 80vh;
    overflow: scroll;
    padding: 1.5rem;
  }

  .footer {
    height: 10rem;
  }
}
