@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap");
.login-wrapper {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2c0791), to(#140245));
  background: linear-gradient(#2c0791 1%, #140245 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-wrapper .login-form .login-form-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrapper .login-form .title {
  margin-bottom: 2rem;
  color: #fffef9;
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.login-wrapper .login-form .form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrapper .login-form .form-group .input {
  background-color: #140245;
  border-radius: 25px;
  height: 2.7em;
  width: 15em;
  color: #dfd5fc;
  border-style: hidden;
  margin: 1em;
  outline: none;
  font: 15px "Montserrat", sans-serif;
  padding-left: 3.6em;
}

.login-wrapper .login-form .form-group ::-webkit-input-placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.login-wrapper .login-form .form-group :-ms-input-placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.login-wrapper .login-form .form-group ::-ms-input-placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.login-wrapper .login-form .form-group ::placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.login-wrapper .login-form .form-group .icon {
  position: absolute;
  left: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3px;
}

.login-wrapper .login-form .submitButton {
  font-weight: bold;
  margin: 2rem;
  border-radius: 25px;
  height: 3em;
  width: 12em;
  background-color: #dfd5fc;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #23076e;
  border-style: hidden;
  -webkit-box-shadow: 1px 2px 2px 2px;
          box-shadow: 1px 2px 2px 2px;
}

.login-wrapper .login-form .to-register {
  margin-top: 0.8em;
  text-decoration: none;
  color: #dfd5fc;
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=Login.css.map */