@import '../../Theme/colorDefinitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

$comfortaa: 'Comfortaa', cursive;
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;

.login-form {
  padding: 1em;

  .form-inner {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
  }

  .title {
    margin-bottom: 2rem;
    color: $WHITE;
    font-family: $comfortaa;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .form-group {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.1em;
    justify-content: center;
    align-items: center;

    .input {
      background-color: $PRIMARY_LIGHT;
      border-radius: 25px;
      height: 4em;
      width: 20em;
      color: $PRIMARY_WHITE;
      border-style: hidden;
      margin: 1em;
      padding-left: 3.6em;
    }
    ::placeholder {
      color: $WHITE;
      font-family: $montserrat;
      font-size: 14px;
    }

    .icon {
      position: absolute;
      left: 22px;
      align-self: center;
      padding-top: 3px;
    }
  }

  .submitButton {
    font-weight: bold;
    margin: 2rem;
    border-radius: 25px;
    height: 3em;
    width: 12em;
    background-color: $PRIMARY_WHITE;
    font-family: $montserrat;
    font-size: 0.8rem;
    color: $PRIMARY_LIGHT;
    border-style: hidden;
    box-shadow: 1px 2px 2px 2px;
  }
}
