@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap");
.register-wrapper {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2c0791), to(#140245));
  background: linear-gradient(#2c0791 1%, #140245 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-wrapper .register-form .form-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-wrapper .register-form .form-inner .title {
  margin-bottom: 2rem;
  color: #fffef9;
  font-family: "Comfortaa", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.register-wrapper .register-form .form-inner .form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-wrapper .register-form .form-inner .form-group .input {
  background-color: #140245;
  border-radius: 25px;
  height: 2.7em;
  width: 15em;
  color: #dfd5fc;
  border-style: hidden;
  margin: 1em;
  outline: none;
  font: 15px "Montserrat", sans-serif;
  padding-left: 3.6em;
}

.register-wrapper .register-form .form-inner .form-group ::-webkit-input-placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.register-wrapper .register-form .form-inner .form-group :-ms-input-placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.register-wrapper .register-form .form-inner .form-group ::-ms-input-placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.register-wrapper .register-form .form-inner .form-group ::placeholder {
  color: #c8baf3;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.register-wrapper .register-form .form-inner .form-group .icon {
  position: absolute;
  left: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3px;
}

.register-wrapper .register-form .form-inner .submitButton {
  font-weight: bold;
  margin: 2rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  height: 3em;
  width: 12em;
  background-color: #dfd5fc;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #23076e;
  border-style: hidden;
  -webkit-box-shadow: 1px 2px 2px 2px;
          box-shadow: 1px 2px 2px 2px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.register-wrapper .register-form .form-inner .submitButton:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.register-wrapper .register-form .form-inner .to-login {
  margin-top: 0.8em;
  text-decoration: none;
  color: #dfd5fc;
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.register-wrapper .register-form .form-inner .to-login:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.register-wrapper .register-form .form-inner .google-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  font-weight: bold;
  height: 4em;
  width: 55vw;
  border: solid;
  border-color: #dfd5fc;
  background-color: transparent;
  color: #dfd5fc;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.register-wrapper .register-form .form-inner .google-btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 768px) {
  .register-wrapper .register-form .form-inner .google-btn {
    width: 25vw;
  }
}

@media (min-width: 1200px) {
  .register-wrapper .register-form .form-inner .google-btn {
    width: 12vw;
  }
}
/*# sourceMappingURL=Register.css.map */